body {
	background: gainsboro;
	overflow: auto;
	margin: 10px;
}

h1 {
	font-family: helvetica;
	font-size: 70px;
	color:  mediumgrey;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	position: absolute;
	top:  132px;
	right: 10px;
}

h2 {
	font-family: helvetica;
	font-size: 30px;
}

h3 {
	font-family: helvetica;
	font-size: 60px;
}

p{
	font-family: helvetica;
	font-size: 15px;
}

.square {
	width: 100px;
	height: 100px;
	background: black;
	position: absolute;
	top: 12px;
	right: 50px;
}

.rectangle4 {
	width: 326px;
	height: 6423px;
	background: whitesmoke;
	position: absolute;
	top: 0px;
	left: 0px;
}

.boxed1 {
	height: 305px;
	width: 260px;
	background: thistle;
	padding: 15px;
	position: absolute;
	top: 1162px;
	left: 992px;
}

.boxed2 {
	height: 200px;
	width: 260px;
	background: thistle;
	padding: 15px;
	position: absolute;
	top: 1887px;
	left: 992px;
}

.boxed3 {
	height: 311px;
	width: 260px;
	background: thistle;
	padding: 15px;
	position: absolute;
	top: 2668px;
	left: 1233px;
}

.boxed4 {
	height: 403px;
	width: 260px;
	background: thistle;
	padding: 15px;
	position: absolute;
	top: 5103px;
	left: 1238px;
}

.boxed5 {
	height: 136px;
	width: 820px;
	background: thistle;
	padding: 15px;
	position: absolute;
	top: 6250px;
	left: 357px;
}
